## Candidates Visualizations

In [14]:
import psycopg2
import pandas as pd
import json

In [16]:
def create_connection():
    try:
        with open('../db_config.json') as file:
            config = json.load(file)
        cnx = psycopg2.connect(
            host='localhost',
            user=config["user"],
            password=config["password"],
            database=config["database"]
        )
        print('Conexión exitosa!!')
    except psycopg2.Error as e:
        cnx = None
        print('No se puede conectar:', e)
    return cnx
    
def run_query(sql):
    cnx = create_connection()
    cur = cnx.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    columns = [col[0] for col in cur.description]
    df = pd.DataFrame(rows)
    df.rename(columns=dict(zip(range(len(columns)), columns)), inplace=True)  
    cnx.close()
    return df

## Hires by technology

In [16]:
sql='''SELECT  technologystack, count(*)
FROM candidates
WHERE ishired is True
GROUP BY technologystack'''
df = run_query(sql)
print(df)

Conexión exitosa!!
                            technologystack  count
0                 Development - CMS Backend    284
1                             Data Engineer    255
2                                Salesforce    256
3                                     Sales    239
4                             QA Automation    243
5                                    DevOps    495
6                                 QA Manual    259
7                     System Administration    293
8                   Development - FullStack    254
9                   Database Administration    282
10                    Business Intelligence    254
11               Development - CMS Frontend    251
12                         Game Development    519
13                      Security Compliance    250
14                           Client Success    271
15                    Development - Backend    255
16                   Development - Frontend    266
17                                 Security    266
18        Social Media Community Management    237
19                                 Mulesoft    260
20                        Technical Writing    223
21                                   Design    249
22                 Adobe Experience Manager    282
23  Business Analytics / Project Management    255

## Hires by year

In [15]:
sql='''SELECT extract(year from applicationdate) AS year, count(*)
FROM candidates
WHERE ishired is TRUE
GROUP BY year'''
df = run_query(sql)
print(df)

Conexión exitosa!!
   year  count
0  2021   1485
1  2020   1485
2  2022    795
3  2018   1409
4  2019   1524

## Hires by seniority

In [17]:
sql='''SELECT  senioritylevel, count(*)
FROM candidates
WHERE ishired is True
GROUP BY senioritylevel'''
df = run_query(sql)
print(df)

Conexión exitosa!!
  senioritylevel  count
0      Architect    971
1         Intern    985
2        Trainee    973
3         Senior    939
4           Lead    929
5      Mid-Level    924
6         Junior    977

## Hires by country over years (USA, Brazil, Colombia, and Ecuador)

In [19]:
sql='''SELECT EXTRACT(YEAR FROM applicationdate) AS Year, country, COUNT(*) AS Hires
FROM Candidates
WHERE ishired = TRUE AND country IN ('United States of America', 'Brazil', 'Colombia', 'Ecuador')
GROUP BY EXTRACT(YEAR FROM applicationdate), country
ORDER BY Year, country;'''
df = run_query(sql)
print(df)

Conexión exitosa!!
    year                   country  hires
0   2018                    Brazil      9
1   2018                  Colombia      7
2   2018                   Ecuador      1
3   2018  United States of America      5
4   2019                    Brazil      7
5   2019                  Colombia      8
6   2019                   Ecuador      3
7   2019  United States of America      3
8   2020                    Brazil      6
9   2020                  Colombia      8
10  2020                   Ecuador      8
11  2020  United States of America      4
12  2021                    Brazil      7
13  2021                  Colombia      1
14  2021                   Ecuador      5
15  2021  United States of America      8
16  2022                    Brazil      4
17  2022                  Colombia      1
18  2022                   Ecuador      3
19  2022  United States of America      5